:host {
  display: block;
}

.nfe-app-shell {
  min-height: 100vh;
  background: var(--tm-background);
}

.nfe-app-main {
  flex: 1;
  min-width: 0;
  overflow: auto;
  padding: 1.5rem;

  @media (min-width: 992px) {
    padding: 2rem;
  }
}
